
html {
  background: #100a1c;
  background-image:
  radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
  radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}
.container{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  padding:5px;
}
.container label:hover{
  cursor: pointer;
}
body {
  color: #6cacc5;
  font: 300 18px/1.6 "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}
input[type="checkbox"]{
  display: none;
}
#login:checked ~#logar{
  display: block;
}
#login:checked ~table{
  display: none;
}
#login:checked ~.ejercicio{
  display: none;
}
#login:checked ~h1{
  display: none;
}
#login:checked ~p{
  display: none;
}
#login:checked ~.container{
  display: none;
}
#cadastrar:checked ~#cadastro{
  display: block;
}
#cadastrar:checked ~#logar{
  display: none;
}
/*LOGIN*/
.login{
  height: 350px;
  width: 230px;
  border:2px solid #000;
  border-radius: 80px 0px 80px 0px;
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50% , -50%);
  padding: 68px 28px;
}
.login img{
 border-radius: 50%;
 position: absolute;
 top: -10%;
 left: calc(230px - 50%);
}
.login h1{
  margin: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
.login p{
  margin:0;
  padding: 0
  font-weight:bold;
}
.login input{
  width: 100%;
  margin-bottom: 21px;
}
.login input[type="text"],input[type="password"]{
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 10px;
}
.login input[type="submit"]{
  border: none;
  outline: none;
  height: 35px;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  transition: 0.2s;
}
.login input[type="submit"]:hover{
  cursor: pointer;
  background-color: #ff4d4d;
  transition: 0.2s;
}
.login a{
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: white;
  text-align: left;
  transition: 0.2s;
}
.login a:hover{
  transition: 0.2s;
  color: #ff4d4d;
}

table{
  width: auto;
  margin: auto;
  padding: auto;
  background: #CCC;
  border: none;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.8;
}
#input, #output{
  height: 50px;
  font-size: 200%;
  text-align: right;
  border: none;
  width: 360px;
}
#input{
  border-radius: 3px;
  box-shadow: 2px black;
  color: #000;
}
#output{
  border-radius: 3px;
  box-shadow: 2px black;
  color: #444;
}
input[type=button]{
  height: 60px;
  width: 60px;
  color: #444;
  background-color: lightgoldenrodyellow;
  margin: 5px;
  border-radius: 3px;
  border: none;
  font-size: 1.5em;
}

input[type=button]:hover{
  background: #ffeaeadc;
  cursor: pointer;
}
@media only screen and (max-width: 1008px){
  html,body{
    width: 100%;
    height: 90%;
  }
  h1,p{
    font-size: 3rem;
  }
  .login{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    height: 65%;
  }
  .login >img{
    width: 360px;
    height: 360px;
    left: (80% - 300px);
    top: -15%;
    left: calc(80% -  445px);
  }
  .login > h1{
    position: absolute;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    position: relative;
    top: 10%;
  }
  .login > form{
    position: relative;
    top: 15%;
    height: 70%;
  }
  .login > form >p{
    font-size: 4rem;
  }
  .login > form > input[type="text"],.login > form > input[type="password"],.login > form > input[type="submit"]{
    height: 100px;
    font-size: 2rem;
  }
  .login > form a{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  table{
    width: 80%;
  }
  #input, #output{
    height: 100px;
    font-size: 200%;
    text-align: right;
    border: none;
    width: 90%;
  }

  #output{
    border-radius: 3px;
    box-shadow: 2px black;
    color: #444;
  }
  input[type=button]{
    height: 120px;
    width: 120px;
    color: #444;
    font-size: 2.5em;
  }
  .container label{
    font-size: 3rem;
    margin: 15px;
  }
}